footer
    <a href="" id="go-top" class="show-pc"><i class="fa fa-angle-up"></i></a>
    .ft-wrapper

        .ft-top
            .ft-logo
                <img src="img/banner-logo-sp.png" alt="alt_text">
        .ft-mid
            ul.ft-menu
                li: a.go-to(href="#security") サービスの特徴
                li: a.go-to(href="#research") 導入事例
                li: a.go-to(href="#procedure") 開始までの流れ
                li: a.go-to(href="#question") よくある質問
                li: a.go-to(href="#contact") お問い合わせ
        section.ft-bot
            .ft-info 
                img(src="img/info1-sp.png", alt="info1")
                p 葵屋株式会社は株式会社エイブルパーキングの<br class="show-sp">アライアンスパートナーです
            .copy-r Copyright©︎2018<a href="">aoiyakk</a>.All Rights Reserved
<!-- footer library -->
script(src="js/custom.js")