doctype html
// saved from url=(0026)http://takumiyamamoto.com/
html.no-js.no-svg(lang='ja')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='./files/bootstrap.min.css')
    link(rel='stylesheet', href='./files/font-awesome.min.css')
    link(rel='stylesheet', href='./files/style.css', media='screen')
  body.home.blog.group-blog.hfeed.has-header-image.has-sidebar.colors-light
    a.toggleDrawer.burger-menu.burger_animation_hide(href='')  
    #drawer-right
      h2 Menu
      nav
        ul.nav.nav-pills.nav-stacked
          li
            a(href='')
              i.fa.fa-home
              |  Home
          li
            a(href='')
              i.fa.fa-bookmark
              |  Works
          li
            a(href='')
              i.fa.fa-tasks
              |  Blog
          li
            a(href='')
              i.fa.fa-file-movie-o
              |  Media
          li
            a(href='')
              i.fa.fa-child
              |  About
          li
            a(href='')
              i.fa.fa-phone-square
              |  Contact
      .social
        h2 Online
        ul
          li
            a(href='', target='_blank')
              i.fa.fa-facebook-square.fa-3x
          li
            a(href='', target='_blank')
              i.fa.fa-linkedin-square.fa-3x
    // #drawer-right
    #wrapper
      #header.content-block(style='height: 899px;')
        section.top.clearfix.solid
          .pull-left
            h1
              a.logo(href='') Takumi YAMAMOTO
          .menu-other.container
            nav
              ul.nav.nav-pills.nav-stacked
                li
                  a(href='')
                    i.fa.fa-home
                    |  Home
                li
                  a(href='')
                    i.fa.fa-bookmark
                    |  Works
                li
                  a(href='')
                    i.fa.fa-tasks
                    |  Blog
                li
                  a(href='')
                    i.fa.fa-file-movie-o
                    |  Media
                li
                  a(href='')
                    i.fa.fa-child
                    |  About
                li
                  a(href='')
                    i.fa.fa-phone-square
                    |  Contact
            .social
              h2 Online
              ul
                li
                  a(href='', target='_blank')
                    i.fa.fa-facebook-square.fa-3x
                li
                  a(href='', target='_blank')
                    i.fa.fa-linkedin-square.fa-3x
        section.center(style='padding-top: 290.75px;')
          .slogan
            img(src='./files/New-Logo01.jpg', alt='')
          .secondary-slogan
            span Official Web Site
        section.bottom
          a#scrollToContent(href='')
            img(src='./files/arrow_down.png', alt='')
      // header
      #works.content-block
        .container
          header.block-heading.cleafix
            a.btn.btn-o.btn-lg.pull-right(href='') View All
            h1 Latest Works
            p Take a look at some of my recent works
          section.block-body
            .row
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/06/venus.jpg); background-size: cover;')
                  span.title-artice Project Venus / プロジェクト•ヴィーナス
                  span.btn.btn-o-white Read More
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/06/Orange01-small.jpg); background-size: cover;')
                  span.title-artice A portrait of David Bowie
                  span.btn.btn-o-white Read More
            .row
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/02/gbc002.jpg); background-size: cover;')
                  span.title-artice GT by Citroen
                  span.btn.btn-o-white Read More
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/02/Bespoke-project036.jpg); background-size: cover;')
                  span.title-artice GT by Citroen Racing
                  span.btn.btn-o-white Read More
            .row
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/02/01_320x240.jpg); background-size: cover;')
                  span.title-artice One-off (bespoke) Hypercar projects
                  span.btn.btn-o-white Read More
      // #portfolio
      #blog.content-block.parallax
        .container
          header.block-heading.cleafix
            a.btn.btn-o.btn-lg.pull-right(href='') View All
            h1 Blog
          section.block-body
            .row
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/06/Rolls-Royce-Sweptail.jpg); background-size: cover;')
                  span.title-artice Villa d’este 2017 / ヴィラ•デステ 2017
                  span.btn.btn-o-white Read More
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/02/workinprogress.jpg); background-size: cover;')
                  span.title-artice Dear David Bowie / 親愛なるデヴィッド•ボウイへ　06
                  span.btn.btn-o-white Read More
            .row
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/02/IMG_5659_S.jpg); background-size: cover;')
                  span.title-artice 初インドで初講師 / First teaching in First India
                  span.btn.btn-o-white Read More
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/01/無題.png); background-size: cover;')
                  span.title-artice Dear David Bowie / 親愛なるデヴィッド•ボウイへ　05
                  span.btn.btn-o-white Read More
            .row
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/01/M-TEASING_DAY004signed.jpg); background-size: cover;')
                  span.title-artice Dear David Bowie / 親愛なるデヴィッド•ボウイへ　04
                  span.btn.btn-o-white Read More
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/01/M-TEASING_DAY002.jpg); background-size: cover;')
                  span.title-artice Dear David Bowie / 親愛なるデヴィッド•ボウイへ　03
                  span.btn.btn-o-white Read More
      // #blog
      #media.content-block.parallax
        .container.text-center
          header.block-heading.cleafix
            a.btn.btn-o.btn-lg.pull-right(href='') View All
            h1 Media
          section.block-body
            .row
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2018/03/スクリーンショット-2018-03-31-16.15.37.png); background-size: cover;')
                  span.title-artice PREMIUM JAPAN Vol.2
                  span.btn.btn-o-white Read More
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2018/03/P.J_thumb.png); background-size: cover;')
                  span.title-artice PREMIUM JAPAN Vol.1
                  span.btn.btn-o-white Read More
            .row
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/07/Close-up-A4-CS-WHITE-lowdef.jpg); background-size: cover;')
                  span.title-artice Car Styling vol.013 / カースタイリング vol.13
                  span.btn.btn-o-white Read More
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/06/Orange01-small.jpg); background-size: cover;')
                  span.title-artice Sport Auto N°665 Juin 2017
                  span.btn.btn-o-white Read More
            .row
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/06/auto-heroes-numero-6_1418633519-1-1-1-1.jpg); background-size: cover;')
                  span.title-artice Auto Heroes N°06
                  span.btn.btn-o-white Read More
              .col-sm-6
                a.recent-work(href='', style='background-image:url(http://takumiyamamoto.com/wp-content/uploads/2017/04/car_styling_vol12_thumb.png); background-size: cover;')
                  span.title-artice Car Styling vol.012 / カースタイリング vol.12
                  span.btn.btn-o-white Read More
      // #services
      #about.content-block.parallax
        .container.text-center
          header.block-heading.cleafix
            h1 About
          section.block-body
            .row
              .col-md-12
                .service
                  h2 Takumi YAMAMOTO
                  p
                    |Founder of « Takumi YAMAMOTO »
                    br
                    |Born in Tokyo
                    br
                    br
                    |Takumi has gained experience as a car designer in France, UK and Japan.
                    br
                    |In France, he joined PSA Prospective and cooperation design studio , before moving
                    |to
                    |Style Citroen.
                    br
                    |In 2012 he joined Polyphony Digital which is known for creating the iconic « Gran
                    |Turismo » series of games for Playstation,
                    br
                    |as a design director of its European studio.
                    br
                    |Founded Takumi YAMAMOTO at 2017 for designing One-off Hypercars, robot, furniture
                    |and
                    |industrial products.
                    br
                    br
                    |Work Experience
                  table.about(border='0')
                    tbody
                      tr
                        td.col-1 2017 –
                        td Founder and designer « Takumi Yamamoto »
                      tr
                        td.col-1 2012 – 2016
                        td
                          | Design Director of Explore Studio Europe
                          br
                          | Polyphony Digital Inc
                      tr
                        td.col-1 2006 – 2012
                        td
                          | Exterior Designer
                          br
                          | PSA Peugeot Citroen
                          br
                          | Style Citroen, Velizy,
                          |                                                 France
                      tr
                        td.col-1 2001 – 2006
                        td
                          | Exterior Designer
                          br
                          | PSA Peugeot Citroen
                          br
                          | Prospective and cooperation
                          |                                                 design
                          |                                                 studio, Poissy, France
                      tr
                        td.col-1 1996 – 2000
                        td
                          | Designer, Modeler
                          br
                          | Studio UST (Design consultancy), Kanagawa, Japan
                  br
                  p Education and Qualifications
                  table.about(border='0')
                    tbody
                      tr
                        td.col-1 2000 - 2001
                        td
                          | Coventry University, Coventry, England
                          br
                          | MA Automotive design
                      tr
                        td.col-1 1992 - 1996
                        td
                          | Tokyo Zokei Art University, Tokyo, Japan
                          br
                          | BA Industrial design
                  br
                  p Award
                  table.about(border='0')
                    tbody
                      tr
                        td.col-1 2008
                        td GT by Citroen, Louis Vuitton Classic Award
                  br
                  br
                  h2 山本卓身（やまもとたくみ）
                  p
                    | Takumi YAMAMOTO 代表
                    br
                    |東京生まれ
                    br
                    br
                    |日本、イギリスで自動車デザインを学び、フランスを拠点にカーデザイナーとして活動開始。
                    br
                    |エクステリア・デザイナーとしてプジョー・シトロエンのコーポレーション&アドヴァンス・スタジオ、
                    br
                    |スティル•シトロエンで市販車やコンセプトカーなどのデザインを担当する。
                    br
                    |2012年よりグランツーリスモシリーズの企画・開発・制作を行うポリフォニーデジタルに移籍、
                    br
                    |ヨーロッパスタジオデザインディレクターに就任、企画、デザインに関わる。
                    br
                    |2017年1月、Takumi YAMAMOTO設立。
                    br
                    |ワンオフカー、ハイパーカーのデザイン、クリエイションをメインに、ロボット、家具、工業製品など幅広いデザインを手掛ける。
                    br
                    br
                    |職歴
                  table.about(border='0')
                    tbody
                      tr
                        td.col-1 2017 –
                        td Takumi Yamamoto設立
                      tr
                        td.col-1 2012 – 2016
                        td
                          | ポリフォニーデジタル
                          br
                          | ヨーロッパスタジオ•デザインディレクター
                      tr
                        td.col-1 2006 – 2012
                        td
                          | スティル•シトロエン
                          br
                          | PSA Peugeot Citroen
                          br
                          | Style Citroen, Velizy, France
                      tr
                        td.col-1 2001 – 2006
                        td
                          | プジョーシトロエン
                          br
                          | コーポレーション&アドヴァンス•デザインスタジオ
                          br
                          | PSA Peugeot Citroen
                          br
                          | Prospective
                          |                                                 and cooperation design studio, Poissy, France
                      tr
                        td.col-1 1996 – 2000
                        td
                          | スタジオ UST
                          br
                          | Studio UST (Design consultancy), Kanagawa, Japan
                  br
                  p 学歴
                  table.about(border='0')
                    tbody
                      tr
                        td.col-1 2000 - 2001
                        td
                          | コヴェントリー大学大学院　（イギリス、コヴェントリー）
                          br
                          | オートモーティブ•デザイン学科
                      tr
                        td.col-1 1992 - 1996
                        td
                          | 東京造形大学 （日本、東京）
                          br
                          | 工業デザイン学科
                  br
                  p アワード
                  table.about(border='0')
                    tbody
                      tr
                        td.col-1 2008
                        td GT by Citroen 　ルイ•ヴィトン•クラシックアワード授賞
                  br
      // #services
      #contact.content-block
        .container.text-center
          header.block-heading.cleafix
            h1 Contact Us
            p Feel free to drop me a line.
          section.block-body
            .row
              .col-md-6.col-md-offset-3
                #wpcf7-f6-o1.wpcf7(role='form', lang='ja', dir='ltr')
                  .screen-reader-response
                  form.wpcf7-form(action='', method='post', novalidate='novalidate')
                    div(style='display: none;')
                      input(type='hidden', name='_wpcf7', value='6')
                      input(type='hidden', name='_wpcf7_version', value='4.6.1')
                      input(type='hidden', name='_wpcf7_locale', value='ja')
                      input(type='hidden', name='_wpcf7_unit_tag', value='wpcf7-f6-o1')
                      input(type='hidden', name='_wpnonce', value='abf54ebfbe')
                    .form-group
                      span.wpcf7-form-control-wrap.your-name
                        input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control.form-control-white(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Your Name')
                    .form-group
                      span.wpcf7-form-control-wrap.your-email
                        input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.form-control.form-control-white(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Enter email')
                    .form-group
                      span.wpcf7-form-control-wrap.your-message
                        textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.form-control.form-control-white(name='your-message', cols='40', rows='10', aria-required='true', aria-invalid='false', placeholder='Your message')
                    .form-group
                      | Please click the following check box before the transmission of inquiry
                      | contents.
                      br
                      span.wpcf7-form-control-wrap.acceptance
                        input.wpcf7-form-control.wpcf7-acceptance(type='checkbox', name='acceptance', value='1', aria-invalid='false')
                      |                                         Check Box
                    p
                      input#contact-button.wpcf7-form-control.wpcf7-submit.btn.btn-o-white(type='submit', value='Say Hello')
                    .wpcf7-response-output.wpcf7-display-none
      // #contact
      #footer.content-block
        .container
          .row
            .col-xs-12 © Copyright Takumi YAMAMOTO 2017
      // #footer
      // /#wrapper
      script(async='', src='./files/analytics.js')
      script(src='./files/jquery-2.1.3.min.js')
      script(src='./files/jquery-migrate-1.2.1.min.js')
      script(src='./files/jquery.actual.min.js')
      script(src='./files/jquery.scrollTo.min.js')
      script(src='./files/script.js')
